<!DOCTYPE html>
<p>
    Please follow these instructions (not how I want to word this, but you get the idea):
    <ol>
        <li><em>Images must be in DICOM (version #) format</em></li>
        <li><em>All images must be in a single ZIP folder in your local file directory</em></li>
        <li><em>Ensure that you have an active URL at which the designated files can be accessed</em></li>
        <li><em>etc., etc., etc.</em></li>
    </ol>
</p>
