@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<hr />

<p>This application is the result of a senior design project developed at Marquette University with the sponsorship of the American College of Radiology (ACR).</p>

