@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>This uses Javascript to count: <div id="counter">0</div>
    </p>


<script>

    window.setInterval(function () {
        var id = document.getElementById("counter");
        id.innerHTML = parseInt(id.innerHTML) + 1;
        /// call your function here
    }, 500);

</script>