@{
    ViewBag.Title = "Contact.";
}
<h2>@ViewBag.Title</h2>
<hr/>

<address>
    <strong>Medical Image Identification Index (MI3):</strong> <a href="mailto:medicalimageidentificationindex@outlook.com">medicalimageidentificationindex@outlook.com</a><br />
    <strong>American College of Radiology (ACR):</strong> <a href="mailto:info@acr.org">info@acr.org</a>
</address>

<div>
    <address>
        <strong>ACR Headquarters Office</strong><br />
        1891 Preston White Dr.<br />
        Reston, VA 20191<br />
        <abbr title="Phone">P:</abbr>
        703-648-8900
    </address>

    <address>
        <strong>ACR Clinical Research Center</strong><br />
        1818 Market St., Suite 1720<br />
        Philadelphia, PA 19103<br />
        <abbr title="Phone">P:</abbr>
        215-574-3150
    </address>
</div>