
@{
    ViewBag.Title = "Is MongoDB Live?";
}



<h2>Is MongoDB Live?</h2>
@{ 
    string output = "";
    if (ViewBag.isLive) {
        output = "Yes!";
    } else {
        output = "No!";
    }
}
<h1>@output</h1>

